<div class="faq-container">
  <div class="faq-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Wellness Tips List </mat-card-title>
      </mat-card-header>
      <div class="p-field">
        <p-dropdown
          placeholder="Select User"
          (onChange)="onListUserChange()"
          [(ngModel)]="selectedUser"
          [filter]="true"
          filterBy="phoneNumber"
          name="user"
          [options]="userOptions"
          optionLabel="phoneNumber"
          [showClear]="true"
          [style]="{ width: '100%' }"
        ></p-dropdown>
      </div>

      <mat-card-content *ngFor="let wellnessTip of wellnessTips">
        <mat-card class="container">
          <mat-card-header>
            <mat-card-title
              ><span><strong>Title: </strong></span
              >{{ wellnessTip.name }}</mat-card-title
            >
          </mat-card-header>

          <div class="image-delete-container">
            <ng-container *ngIf="wellnessTip.pdfs[0]; else imageBlock">
              <span><strong>pdfs: </strong></span>
              <div #pdfContainer>
                <app-pdf-viewer
                  [thumbnail]="true"
                  [pdfUrl]="wellnessTip.pdfs[0]"
                ></app-pdf-viewer>
                <a [href]="wellnessTip.pdfs[0]" download>Download PDF</a>
              </div>
            </ng-container>
            <ng-template #imageBlock>
              <span><strong>images: </strong></span>

              <div>
                <img
                  [src]="wellnessTip.images[0]"
                  style="height: 300px"
                  alt="Image"
                />
                <a
                  [href]="wellnessTip.images[0]"
                  download
                  style="display: block"
                  >Download Original Image</a
                >
              </div>
            </ng-template>
            <button
              mat-icon-button
              color="warn"
              (click)="
                removeWellnessTip(wellnessTip.id);
                $event.stopImmediatePropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-card-content class="text">
            <span><strong>description: </strong></span
            >{{ wellnessTip.description }}
          </mat-card-content>
          <mat-card-content class="text">
            <span><strong>details: </strong></span>{{ wellnessTip.details }}
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="faq-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create Wellness Tip</mat-card-title>
      </mat-card-header>
      <form [formGroup]="wellnessTipForm">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter name"
              formControlName="name"
              type="text"
              name="name"
              required
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter description"
              formControlName="description"
              type="text"
              name="description"
              required
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter details"
              formControlName="details"
              type="text"
              name="details"
            />
          </mat-form-field>
          <div class="upload-container">
            <input
              type="file"
              multiple
              name="images"
              (change)="onFileChange($event)"
              style="display: none"
              #fileInput
              hidden
            />
            <p-button
              class="upload-btn"
              color="primary"
              (click)="fileInput.click()"
            >
              Choose Attachments
            </p-button>
            <div *ngIf="wellnessTipForm.get('attachments').value">
              <ul>
                <li
                  *ngFor="
                    let attachment of wellnessTipForm.get('attachments').value;
                    let i = index
                  "
                >
                  {{ attachment.name }}
                  <button mat-icon-button (click)="removeAttachment(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </li>
              </ul>
            </div>
            <span *ngIf="!wellnessTipForm.get('attachments').value">
              No attachment selected
            </span>
          </div>
          <div class="toggle-container">
            <p-toggleButton
              formControlName="allUsersCheck"
              onLabel="Global"
              offLabel="User"
            ></p-toggleButton>
          </div>
          <div class="p-field">
            <p-dropdown
              [disabled]="wellnessTipForm.get('allUsersCheck').value"
              placeholder="Select User"
              formControlName="user"
              (onChange)="onUserChange()"
              [filter]="true"
              filterBy="phoneNumber"
              name="user"
              [options]="userOptions"
              optionLabel="phoneNumber"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="btns-container">
            <p-button
              [disabled]="wellnessTipForm.invalid"
              label="Save"
              type="button"
              (onClick)="createWellnessTip()"
              styleClass="p-button-rounded p-button-primary"
              icon="pi pi-check"
              [loading]="isLoading"
            ></p-button>

            <p-button
              type="button"
              label="Cancel"
              icon="pi pi-times"
              styleClass="p-button-rounded p-button-secondary"
              (click)="wellnessTipForm.reset()"
            >
            </p-button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
