<div class="faq-container">
  <div class="faq-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Send Notifications </mat-card-title>
      </mat-card-header>
      <form [formGroup]="notificationsForm">
        <mat-card-content>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter title"
              formControlName="title"
              type="text"
              name="title"
              required
            />
          </mat-form-field>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter Body"
              formControlName="body"
              type="text"
              name="body"
              required
            />
          </mat-form-field>
          <div class="upload-container">
            <input
              type="file"
              name="image"
              (change)="onFileChange($event)"
              style="display: none"
              #fileInput
              hidden
            />
            <p-button
              class="upload-btn"
              color="primary"
              (click)="fileInput.click()"
            >
              Choose Image
            </p-button>
            <div
              class="image-delete-container"
              *ngIf="notificationsForm.get('image').value"
            >
              <p>{{ notificationsForm.get("image").value.name }}</p>
              <button mat-icon-button (click)="removeImage()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <span *ngIf="!notificationsForm.get('image').value">
              No Image selected
            </span>
          </div>
          <div class="toggle-container">
            <p-toggleButton
              formControlName="allUsersCheck"
              onLabel="Global"
              offLabel="User"
            ></p-toggleButton>
          </div>
          <div class="p-field">
            <p-dropdown
              [disabled]="notificationsForm.get('allUsersCheck').value"
              placeholder="Select User"
              formControlName="user"
              (onChange)="onUserChange()"
              [filter]="true"
              filterBy="phoneNumber"
              name="user"
              [options]="userOptions"
              optionLabel="phoneNumber"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
        </mat-card-content>
        <div *ngIf="error" class="error-message">{{ error }}</div>
        <span class="green-span" *ngIf="success">
          Notification Sent Succesfully
        </span>
        <mat-card-actions>
          <div class="btns-container">
            <p-button
              [disabled]="notificationsForm.invalid"
              label="Save"
              type="button"
              (onClick)="sendNotification()"
              styleClass="p-button-rounded p-button-primary"
              icon="pi pi-check"
              [loading]="isLoading"
            ></p-button>

            <p-button
              type="button"
              label="Cancel"
              icon="pi pi-times"
              styleClass="p-button-rounded p-button-secondary"
              (click)="notificationsForm.reset()"
            >
            </p-button>
          </div>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
