<p-toast position="top"></p-toast>

<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
    <ng-template pTemplate="right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          (input)="onSearchInputChange($event)"
          type="text"
          placeholder="Search..."
        />
      </span>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="tpas"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedTpas"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage TPA</h5>
      </div>
      <p-dropdown
        [options]="languageOptions"
        [(ngModel)]="selectedLanguage"
        optionLabel="label"
        (onChange)="onLanguageChange()"
      ></p-dropdown>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Language</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tpa>
      <tr>
        <td>{{ tpa.id }}</td>
        <td>{{ tpa.name }}</td>
        <td>{{ tpa.language }}</td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editTpa(tpa)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button"
            (click)="deleteTpa(tpa)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ tpas ? tpas.length : 0 }} Tpas.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="createDialog"
  [style]="{ height: '400px', width: '450px' }"
  header="Add TPA"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="tpa.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !tpa.name"
        >Name is required.</small
      >
    </div>
    <div class="field">
      <label for="Language">Language</label>
      <p-dropdown
        [(ngModel)]="tpa.language"
        inputId="language"
        [options]="languageOptions"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'tpa-badge status-' + option.value">{{
            option.label
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Add"
      icon="pi pi-check"
      class="p-button-text"
      (click)="addTpa()"
    ></button>
  </ng-template>
</p-dialog>

<p-dialog
  [(visible)]="editDialog"
  [style]="{ height: '400px', width: '450px' }"
  header="Update TPA"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="tpa.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !tpa.name"
        >Name is required.</small
      >
    </div>
    <div class="field">
      <label for="Language">Language</label>
      <p-dropdown
        [(ngModel)]="tpa.language"
        inputId="language"
        [options]="languageOptions"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'tpa-badge status-' + option.value">{{
            option.label
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Update"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateTpa(tpa)"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
