<div class="faq-container">
  <div class="faq-details">
    <div class="upload-form">
      <p-card class="upload-card">
        <ng-template pTemplate="header">
          <div class="uploader-header">
            <h2>Upload Medical Network CSV File</h2>
          </div>
        </ng-template>

        <div>
          <div class="p-field">
            <p-dropdown
              id="language"
              [options]="languageOptions"
              [required]="true"
              [(ngModel)]="selectedLanguage"
              (onChange)="onLanguageChange()"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>

          <div class="p-field">
            <p-dropdown
              placeholder="Enter TPA"
              [(ngModel)]="selectedTpa"
              (onChange)="onTpaChange()"
              name="tpaName"
              [options]="tpaOptions"
              optionLabel="name"
              [required]="true"
              [editable]="true"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>
          <div class="p-field">
            <p-dropdown
              [(ngModel)]="selectedInsuranceCompany"
              placeholder="Enter Insurance Company"
              name="insuranceCompanyName"
              [options]="insuranceCompanyOptions"
              optionLabel="name"
              [required]="true"
              [editable]="true"
              [showClear]="true"
              [style]="{ width: '100%' }"
            ></p-dropdown>
          </div>

          <div class="p-field">
            <p-fileUpload
              #fileInput
              id="fileToUpload"
              name="fileToUpload"
              (onSelect)="onFileSelect($event)"
              (onRemove)="removeFile()"
              accept=".csv"
              required
              chooseLabel="Select CSV File"
              [showUploadButton]="false"
              [showCancelButton]="false"
            ></p-fileUpload>
          </div>
          <span class="green-span" *ngIf="success">
            {{ fileName }} File Uploaded Succesfully
          </span>
        </div>
        <div *ngIf="error" class="error-message">{{ error }}</div>

        <ng-template pTemplate="footer">
          <div class="footer-container">
            <p-button
              label="Save"
              type="button"
              (onClick)="submitForm()"
              class="p-button-primary"
              icon="pi pi-check"
              [loading]="isLoading"
              [disabled]="
                !selectedTpa ||
                !selectedInsuranceCompany ||
                !selectedLanguage ||
                !fileToUpload
              "
            ></p-button>
            <p-button
              label="Cancel"
              icon="pi pi-times"
              styleClass="p-button-secondary"
              (click)="resetForm()"
            ></p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
