<p-toast position="top"></p-toast>

<div class="card">
  <div class="header-and-selection-container">
    <div class="header-container">
      <h2>Manage Cities</h2>
    </div>

    <div class="selection-container">
      <p-dropdown
        [options]="languageOptions"
        [(ngModel)]="selectedLanguage"
        optionLabel="label"
        (onChange)="onLanguageChange()"
        placeholder="Select Language"
        [showClear]="true"
      ></p-dropdown>
      <p-dropdown
        [disabled]="!selectedLanguage"
        [options]="tpaOptions"
        [(ngModel)]="selectedTpa"
        optionLabel="name"
        (onChange)="onTpaChange()"
        placeholder="Select TPA"
        [showClear]="true"
      ></p-dropdown>
      <p-dropdown
        [disabled]="!selectedTpa"
        [options]="insuranceCompanyOptions"
        [(ngModel)]="selectedInsuranceCompany"
        optionLabel="name"
        (onChange)="onInsuranceCompanyChange()"
        placeholder="Select Insurance Company"
        [showClear]="true"
      ></p-dropdown>
    </div>
  </div>

  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
    <ng-template pTemplate="right">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          (input)="onSearchInputChange($event)"
          type="text"
          placeholder="Search..."
        />
      </span>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="cities"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedCities"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th style="min-width: 15rem">Name</th>

        <th>Language</th>
        <th>Insurance Company ID</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-city>
      <tr>
        <td>{{ city.id }}</td>
        <td>{{ city.name }}</td>
        <td>{{ city.language }}</td>
        <td>{{ city.insuranceCompanyId }}</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editCity(city)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button"
            (click)="deleteCity(city)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ cities ? cities.length : 0 }} Cities.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="createDialog"
  [style]="{ height: '600px', width: '450px' }"
  header="Add City"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="city.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !city.name"
        >Name is required.</small
      >
    </div>

    <div class="field">
      <label for="insuranceCompanyId">Insurance Company Id</label>
      <input
        type="text"
        pInputText
        id="insuranceCompanyId"
        [(ngModel)]="city.insuranceCompanyId"
        required
        autofocus
      />
      <small class="p-error" *ngIf="submitted && !city.insuranceCompanyId"
        >Insurance Company Id is required.</small
      >
    </div>

    <div class="field">
      <label for="Language">Language</label>
      <p-dropdown
        [(ngModel)]="city.language"
        inputId="language"
        [options]="languageOptions"
        placeholder="Select"
      >
        <ng-template let-option pTemplate="item">
          <span [class]="'city-badge status-' + option.value">{{
            option.label
          }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Add"
      icon="pi pi-check"
      class="p-button-text"
      (click)="addCity()"
    ></button>
  </ng-template>
</p-dialog>
<!-- Edit dialog -->
<p-dialog
  [(visible)]="editDialog"
  [style]="{ height: '600px', width: '450px' }"
  header="Update City"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="city.name"
        autofocus
      />
    </div>

    <div class="field">
      <label for="insuranceCompanyId">Insurance Company Id</label>
      <input
        type="text"
        pInputText
        id="insuranceCompanyId"
        [(ngModel)]="city.insuranceCompanyId"
      />
    </div>
    <div class="field">
      <label for="Language">Language</label>
      <p-dropdown
        [(ngModel)]="city.language"
        inputId="language"
        [options]="languageOptions"
        placeholder="Select"
      >
      </p-dropdown>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Update"
      icon="pi pi-check"
      class="p-button-text"
      (click)="updateCity(city)"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
