<div class="faq-container">
  <div class="faq-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> TermsAndConditions List </mat-card-title>
      </mat-card-header>
      <div class="btns-container">
        <button
          mat-raised-button
          color="primary"
          (click)="getArabicTermsAndConditions()"
        >
          TermsAndConditions Arabic
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="getEnglishTermsAndConditions()"
        >
          TermsAndConditions English
        </button>
      </div>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let termsAndCondition of termsAndConditions">
            <p matLine>
              {{ termsAndCondition.text }}
            </p>
            <button
              mat-icon-button
              color="warn"
              (click)="
                removeTermsAndConditions(termsAndCondition.id);
                $event.stopImmediatePropagation()
              "
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="faq-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create TermsAndConditions </mat-card-title>
      </mat-card-header>
      <form
        [formGroup]="termsAndConditionsForm"
        (ngSubmit)="createTermsAndConditions()"
      >
        <mat-card-content>
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Enter text"
              formControlName="text"
              type="text"
              name="text"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Select Language</mat-label>
            <mat-select
              required
              name="language"
              formControlName="language"
              (change)="changeSelectedLanguage($event)"
            >
              <mat-option [value]="'ENGLISH'">English </mat-option>
              <mat-option [value]="'ARABIC'">Arabic </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button
            [disabled]="termsAndConditionsForm.invalid"
            type="submit"
            mat-button
            color="primary"
          >
            Save
          </button>
          <button
            type="button"
            mat-button
            (click)="termsAndConditionsForm.reset()"
          >
            Cancel
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</div>
